<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cadastro.DataAccess.Properties.Settings.BANCODAMINHAAPLICACAOConnectionString"
            connectionString="Data Source=WIN-PT4RMSDFB78\SQLEXPRESS;Initial Catalog=BANCODAMINHAAPLICACAO;User ID=sa;Password=romanha"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>